@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1D9E75;
  --color-accent: #534AB7;
  --color-dark: #0f0f0f;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}
